@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 241, 222);
    
}

h1 {
    text-align: center;
}

.scoreboard {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.player {
    justify-content: center;
    display: flex;
}

span {
    margin-right: 50px;
    margin-bottom: 0px;
    font-size: 1.3em;
    margin-block-start: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-right: 30px;
}

#player-1,
#player-2 {
    font-size: 1.3em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#player-1 {
    margin-bottom: 0px;
    
}
#player-2 {
    margin-bottom: 10px;
}

#reset-score {
    width: 200px;
    margin: auto;
}

#reset {
    margin: auto;
    width: 200px;
    align-self: center;
    margin-top: 10px;
}

#result {
    text-align: center;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.game-board {
    height: 55vh;
    width: 450px;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 33% 33% 33%;
    justify-items: center;
    align-items: center;
    margin: auto;
    font-family: 'Permanent Marker', cursive;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    cursor: pointer;
}

.square:nth-child(3n) {
    border-right: none;
}

.square:nth-child(n+7) {
    border-bottom: none;
}

@media only screen and (max-width: 500px) {
    .game-board {
        height: 50vh;
        width: 90%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 33% 33% 33%;
    }
}