@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}
body {
    background-color: lightyellow;
}
h1 { 
    text-align: center;
    font-size: 42px;
    margin-top: 30px;
}

.score-board {
    display: flex;
    justify-content: center;
    margin: 25px;
    font-size: 36px;
    text-align: center;
}

.game-board {
    width: 100vw;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    margin-top: 10px;
    margin-bottom: 10px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: lightyellow;
    border: 1px solid black;
    cursor:pointer;
}

.button-area {
    
    display: flex;
    justify-content: center;
}

button {
    font-size: 20px;
    width: 100px;
    margin: 20px;
    cursor: pointer;
}

#box1, #box2, #box3 {
    border-top: none;
}

#box1, #box4, #box7 {
    border-left: none;
}

#box3, #box6, #box9 {
    border-right: none;
}

#box7, #box8, #box9 {
    border-bottom: none;
}

